.password-validation {
    .password-validation_title {
        text-align: center;
    }
    .password-validation_entries {
        .password-validation_entry {
            display: flex;
            align-items: center;
            i {
                margin-right: 10px;
            }
        }
    }
}
