.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .auth-page__form, .container, .grid-parent {
        height: max-content;
    }
    .auth-page__form {
        padding: 20px;
        background-color: #3A3A3A;
        border-radius: 10px;
        .auth-page__title {
            text-align: center;
        }
        .auth-page__actions {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap: 30px;
        }
    }
}
