.game-list_item {
    .game-card {
        .game-card__statistics {
            width: 100%;
            .font-bold {
                font-weight: bold;
            }
        }
        .game-card__image {
            width: 100%;
        }
        .game-card__genres {
            margin-top: 8px;
        }
    }
}
