fastapi[all]
uvicorn[standard]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
databases
aiosqlite
bcrypt
fastapi_login
mysql-connector-python
pymysql
sqlalchemy
requests
howlongtobeatpy
rawg
pytz
python_telegram_bot==20.1
fastapi-versioning